.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  text-align: center;
  flex: 1 1 calc(25% - 20px); /* 25% width minus margin */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced evenly */
}

.book-image {
  width: 100px;
  height: 150px;
  background-color: #e0e0e0;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  .buy-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }

